{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="col-md-12">Admin Page</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <h4>Modules</h4>
                <div>
                    <a href="/admin">Admin Home</a>
                </div>
                <div>
                    <a href="/user">User Home</a>
                </div>
                <div>
                    <a href="/item/home">Item Home</a>
                </div>
                <div>
                    <a href="/file">File Home</a>
                </div>
                <div>
                    <a href="/article">Article Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
