{% extends '../layout/layout-admin.html' %}

{% block style %}
{% parent %}
<style>
.section {
    color: #888;
    font-size: 1.1em;
}
.section h4 {
    margin-top: 40px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--
        <div class="col-md-4">
            <div class="section">
                <h4>Module Support Pages</h4>
                <div>
                    <a href="/files">File</a>
                </div>
                <div>
                    <a href="/users">User</a>
                </div>
                <div>
                    <a href="/access">Access</a>
                </div>
            </div>
        </div>
        -->
        <div class="col-md-6">
            <div class="section">
                <h4>System Modules</h4>
                <div>
                    <a href="/modules/user/list">User</a>
                </div>
                <div>
                    <a href="/modules/group/list">Group</a>
                </div>
                
                <h4>User Modules</h4>
                <div>
                    <a href="/modules/article/list">Article</a>
                </div>
                <div>
                    <a href="/modules/charge/list">Charge</a>
                </div>
                <div>
                    <a href="/modules/component/list">Component</a>
                </div>
                <div>
                    <a href="/modules/composition/list">Composition</a>
                </div>
                <div>
                    <a href="/modules/linkset/list">Linkset</a>
                </div>
                <div>
                    <a href="/modules/media/list">Media</a>
                </div>
                <div>
                    <a href="/modules/page/list">Page</a>
                </div>
                <div>
                    <a href="/modules/product/list">Product</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <!--
                <h4>Tool</h4>
            
                <div>
                    <a href="/modules/imageset/list">Imageset</a>
                </div>
                <div>
                    <a href="/modules/item/list">Item</a>
                </div>
            
                <div>
                    <a href="/articles">Article</a>
                </div>
                <div>
                    <a href="/announcements">Announcement</a>
                </div>
                <div>
                    <a href="/linksets">Linkset</a>
                </div>
                <div>
                    <a href="/groups">Group</a>
                </div>
                <div>
                    <a href="/imagesets">Imageset</a>
                </div>
                <div>
                    <a href="/events">Event</a>
                </div>
                <div>
                    <a href="/compositions">Composition</a>
                </div>
                <div>
                    <a href="/pages">Page Test</a>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
