{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/component/reactlet-common/reactlet-common.css" />
<link rel="stylesheet" href="/component/reactlet-table/dist/table.css" />
<link rel="stylesheet" href="/style/common/list.css">
{% endblock %}

{% block script %}
{% parent %}
<script>
window.app = { moduleName:"{{ page.moduleName }}" };
</script>
<script src="/component/reactlet-common/reactlet-mixin.js"></script>
<script src="/script/common/dist/list.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:20px;">
    
    <div class="row">
        <h4>common list page - module: {{ page.moduleName }}</h4>
    </div>
    
    <div class="row">
        <div id="table1"></div>
    </div>
    
</div>
{% endblock %}
