{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
{% endblock %}

{% block script %}
{% parent %}
<script>
function add_new_group() {
    $("#mydiv").append( "<div>" +
        "<fieldset>" +
        '<legend>Item <button type="button" class="btn btn-danger" onclick="remove_group(this)">-</button></legend>' +
        '<p>Text: <input type="text" name="text" /></p>' +
        '<p>Hyperlink: <input type="text" name="hyperlink" /></p>' +
        "</fieldset>" +
        //'<button type="button" class="btn btn-danger" onclick="remove_group(this)">-</button>' +
        "<hr>" +
        "</div>");
};
function remove_group(who) {
    //$(who).parent().remove(); //remove associate div
    $(who).closest('div').remove(); //remove associate div
};
</script>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <h4 class="col-md-12">
            Add Linkset
        </h4>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="/data/links/add_links_post" method="POST">
                <p>Description: <input type="text" name="description" /></p>
                <hr>
                
                <div id="mydiv" class="form-group">
                    <div>
                        <fieldset>
                            <legend>Item</legend>
                            <p>Text: <input type="text" name="text" /></p>
                            <p>Hyperlink: <input type="text" name="hyperlink" /></p>
                        </fieldset>
                        <hr>
                    </div>
                </div>
                
                <button type="button" class="btn btn-success" onclick="add_new_group()">+</button>
                <p></p>
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit">Add</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}
