{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div>
                    <a href="/links/add_links">Add Links</a>
                </div>
                <div>
                    <a href="/links/show_all">Show All Links</a>
                </div>
                <div>
                    <a href="/links/list/react">Links List(React)</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
