<!--{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.container {
    color: #666;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">List of uploaded files</div>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-striped">
            {% for file in page.files %}
                {% set link = './file/' + file %}
                <tr>
                    <td>
                        <a href="{{link}}">{{file}}</a>
                    </td>
                </tr>
            {% endfor%}    
        </table>
    </div>

</div>
{% endblock %}-->
{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/file/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/file/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  {% for file in page.files %}
  <div class="file panel panel-default">
    <div class="panel-heading">
      <h2 class="file-name">
        {{file.title}}
      </h2>
      <p class="file-upload-date">
        <time class="timeago" datetime={{file.create_date.toISOString()}}>
          {{file.create_date.toISOString()}}
        </time>
      </p>
    </div>
    <p class="file-download">
      <a href="{{file.path}}">{{file.content}}</a>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}