{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
{% endblock %}

{% block style %}
{% parent %}
<style>
.container {
    color: #666;
}
.upload-form {
    padding-top: 30px;
    padding-bottom: 30px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Upload a file</div>
        </div>
    </div>
    
    <div class="row upload-form">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" action="/data/file/upload_post" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="filename" class="form-title">Select a file</label>
                    <input type="file" class="form-control" name="filename" id="filename">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit">Upload</button>
            </form>
        </div>
    </div>
  
</div>
{% endblock %}
