{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <h4 class="col-md-12">
            Field List
        </h4>
        <div class="col-md-12">
            <ul>
                {% for field in page.fieldCol %}
                <li>
                    <a href="/field/{{ loop.key }}/view">{{ loop.key }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
