{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/basket/checkout.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/basket/checkout.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="col-md-12">
            Checkout
        </h2>
    </div>
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-md-9">
            <!--
            <div>
                <h4>User</h4>
                {{ page.basket.user_id }}
            </div>
            -->
            <div style="margin-top:20px;">
                <h4>Shopping cart items</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page.basket.items %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>${{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan=2 style="font-weight:bold;">Total</td>
                            <td class="basket-total">${{ page.basket.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:0px;margin-bottom:20px;">
        <div class="col-md-9">
            <div>
                <h4>Payment Info</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <th><input class="form-control" type="input" /></th>
                            <th>Last Name</th>
                            <th><input class="form-control" type="input" /></th>
                        </tr>
                        <tr>
                            <th>Credit Card Number</th>
                            <th><input class="form-control" type="input" /></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>      
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/baskets/purchase">
                <button class="btn btn-success">Purchse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
