{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/basket/detail.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/basket/detail.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="col-md-12">
            Basket Detail
        </h2>
    </div>
    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-md-9">
            <!--
            <div>
                <h4>User</h4>
                {{ page.basket.user_id }}
            </div>
            -->
            <div style="margin-top:20px;">
                <h4>Shopping cart items</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page.basket.items %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td class="basket-item-quantity">{{ item.quantity }}</td>
                            <td class="basket-item-price">${{ item.price }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan=2 style="font-weight:bold;">Total</td>
                            <td class="basket-total">${{ page.basket.total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="GET" action="/baskets/checkout">
                <button class="btn btn-success">Checkout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
