{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Group List</div>
        </div>
    </div>
    
    <div>
        <table class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <td>
                          Name
                      </td>
                      <td>
                          Type
                      </td>
                      <td>
                          Description
                      </td>
                      <td>
                          Status
                      </td>                      
                      <td>
                      </td>
                  </tr>
              </thead>
              <tbody>
                  {% for group in page.groups %}
                      <tr>
                          <td>
                              {{ group.name }}
                          </td>
                          <td>
                              {{ group.type }}
                          </td>                  
                          <td>
                              {{ group.description }}
                          </td>
                          <td>
                              {{ group.status }}
                          </td>
                          <td>
                              <a class="glyphicon glyphicon-edit" href="/groups/{{group._id.toString()}}/edit" title="edit"></a>
                              &nbsp;
                              <a class="glyphicon glyphicon-remove" href="/groups/{{group._id.toString()}}/del" title="del"></a>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
