.mediadetail-container .container {
    padding-left: 0px;
    padding-right: 0px;
}

.mediadetail-container .mediadetail-image-content img {
    width: 100%;
}

.mediadetail-container .mediadetail-video-content video {
    width: 100%;
}
