/* header1 */
#header1 .woplogo-container .wopblock-container {
    width: 180px;
}

#header1 .woplogo-container .wopblock-container .wopblock-content-container {
    background-color: transparent;
    padding: 5px 0 5px;
}

#header1 .woplogo-container .wopblock-container .wopblock-text-container {
    font-size: 1.7em;
    font-weight: bold;
}

#header1 .woptoolbar-container {
    float:right;
}

#header1 .woptoolbar-container .wopblock-container .wopblock-content-container {
    background-color: #2eb135;
}

#header1 .woptoolbar-container .wopblock-container:hover .wopblock-content-container {
    background-color: #4891dc;
}

#header1 .woptoolbar-container .wopblock-container {
    width: 70px;
    margin-left: 8px;
    margin-right: 0px;
}

#header1 .woptoolbar-container .wopblock-content-container {
    font-size: 14px;
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

/* footer1 */
#footer1 {
    background-color: #eee;
    height: 70px;
    padding: 20px 0 20px;
}

#footer1 .woptoolbar-container.wop-toolbar-main .wopblock-container {
    float: left;
    margin-right: 10px;
}

#footer1 .woptoolbar-container.wop-toolbar-main .wopblock-container .wopblock-content-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer1 .woptoolbar-container.wop-toolbar-main .wopblock-content-container {
    height: 30px;
    margin-right: 5px;
    padding: 15px 0 0 0;
    font-size: 14px;
    text-align: center;
    color: black;
    background-color: transparent;
}

#footer1 .woptoolbar-container.wop-toolbar-main .wopblock-content-container:hover {
    color: #2eb135;
}

#footer1 .woptoolbar-container.wop-toolbar-social .wopblock-content-container:hover {
    color: #4891dc;
}

#footer1 .woptoolbar-container.wop-toolbar-social .wopblock-container {
    width: 25px;
}

#footer1 .woptoolbar-container.wop-toolbar-social .wopblock-content-container {
    height: 30px;
    padding: 3px 0 0 0;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    color: black;
    background-color: transparent;
}