{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script src="/library/summernote/summernote.min.js"></script>
<script>
$(document).ready(function() {
    $('#summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: false,                 // set focus to editable area after initializing summernote
        onImageUpload: function(files, editor, welEditable) {
            console.log('image upload:', files, editor, welEditable);
            sendFile(files[0], editor, welEditable);
        }
    });
});
// send the image file
function sendFile(file, editor, welEditable) {
    data = new FormData();
    data.append("file", file);
    $.ajax({
        data: data,
        type: 'POST',
        xhr: function() {
            var myXhr = $.ajaxSettings.xhr();
            if (myXhr.upload) myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
            return myXhr;
        },
        url: '/data/article/upload_editor_image_post',
        cache: false,
        contentType: false,
        processData: false,
        success: function(url) {
            console.log('get url:',url);
            var fullUrl = '/file/' + url;
            editor.insertImage(welEditable, fullUrl);
        }
    });
}
// update progress bar
function progressHandlingFunction(e){
    if(e.lengthComputable){
        $('progress').attr({value:e.loaded, max:e.total});
        // reset progress on complete
        if (e.loaded == e.total) {
            $('progress').attr('value','0.0');
        }
    }
}
</script>
{% endblock %}

{% block style %}
{% parent %}
<link href="/library/summernote/summernote.css" rel="stylesheet">
<style>
.container {
    color: #666;
}
.add-form {
    padding-top: 30px;
    padding-bottom: 30px;
}
</style>
{% endblock %}

{% block content %}
{% set article = page.article %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">{{page.title}}</div>
        </div>
    </div>

    <div class="row">
        <!--
        <progress></progress>
        -->
    
        <form role="form" action="{{page.formAction}}" method="POST" enctype="multipart/form-data">
            <fieldset>
                
                {% if page.operation == 'Edit' %}
                    <input type="hidden" name="id_hidden" value="{{article._id + ''}}" />
                {% endif %} 
                
                <div class="form-group">
                    <label for="title">Title</label>
                    {% if page.operation == 'Add' %}
                        <input class="form-control" type="text" id="title" name="title" placeholder="Title" value="">
                    {% elseif page.operation == 'Edit' %}
                        <input class="form-control" type="text" id="title" name="title" placeholder="Title" value="{{article.title}}">
                    {% endif %}     
                </div>
         
                <div class="form-group">
                    <label for="summernote">Content</label>
                    <textarea class="input-block-level" id="summernote" name="content" rows="18">
                        {% if page.operation == 'Add' %}
                        {% elseif page.operation == 'Edit' %}
                            {{article.content}}
                        {% endif %}  
                    </textarea>
                </div>
                
                <div class="form-group">
                    <label for="type">Type</label>
                    {% if page.operation == 'Add' %}
                        <input class="form-control" type="text" id="type" name="type" placeholder="type" value="">
                    {% elseif page.operation == 'Edit' %}
                        <input class="form-control" type="text" id="type" name="type" placeholder="Type" value="{{article.type}}">
                    {% endif %}     
                </div>
            
            </fieldset>
            
            <button type="submit" class="btn btn-primary">{{page.operation}}</button>
            <!--
            <button type="button" id="cancel" class="btn">Cancel</button>
            -->
        </form>
    
    </div>

</div>
{% endblock %}
