{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/component/common/common-style.css"/>
<link rel="stylesheet" href="/component/article/detail.css"/>
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/react/react.js"></script>
<script src="/library/react/JSXTransformer.js"></script>
<script type="text/jsx" src="/component/common/common-mixin.js"></script>
<script type="text/jsx" src="/component/article/detail.js"></script>
<script type="text/jsx" src="/script/article/detail_react.js"></script>
<script>
var app = app || {};
app.articleId = '{{ page.articleId }}';
</script>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <h4 class="col-md-12">
            Article Detail (React)
        </h4>
    </div>
    
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <div id="articleDetail"></div>
        </div>
    </div>
    
</div>
{% endblock %}
