{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/article/index.css">
{% endblock %}

{% block script %}
{% parent %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Article Detail</div>
        </div>
    </div>  
  
    <div>
        {{page.article.title}}  
    </div>
    <br>
    <div>
        {{ page.article.content|raw }}
    </div>
    
</div>
{% endblock %}