{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <!--
    <div class="row">
        <h4 class="col-md-12">Admin Page</h4>
    </div>
    -->
    <div class="row">
        <div class="col-md-12">
            
            <div class="section" style="margin-bottom:20px;">
                <h4>Data Section</h4>
                <div>
                    <a href="/data/articles/title/Mission%20of%20PTA">Get article by title</a>
                </div>
            </div>
            
            <div class="section" style="margin-bottom:20px;">
                <h4>Page Section</h4>
                <div>
                    <a href="/articles/add_wysiwyg">Add Article(WYSIWYG)</a>
                </div>
                <div>
                    <a href="/articles/list">Article List(WYSIWYG)</a>
                </div>
                <div>
                    <a href="/articles/list/react">Article List (React)</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}


