{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/article/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
<script src="http://timeago.yarp.com/jquery.timeago.js"></script>
<script src="/script/article/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  {% for article in page.articles %}
  <div class="post panel panel-default">
    <div class="panel-heading">
      <h2 class="post-title">
        {{article.title}}
      </h2>
      <p class="post-date">
        <time class="timeago" datetime={{article.create_date.toISOString()}}>
          {{article.create_date.toISOString()}}
        </time>
      </p>
    </div>
    <p class="post-content">
      {{article.content}}
      <a href="#"> Read more</a>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}
