.productdetail-container .productdetail-content {
    padding-bottom: 25px;
    padding-right: 0px;
    padding-left: 0px;
}

.productdetail-container .productdetail-content .productdetail-image {
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

.productdetail-container .productdetail-content .productdetail-text-content {
    margin-top: 5px;
    text-align: center;
}