{% extends '../layout/layout-composition.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/composition/gallery.css"/>
{% endblock %}

{% block script %}
{% parent %}
<script type="text/jsx" src="/script/composition/gallery.js"></script>
{% endblock %}

{% block content %}
<div class="container-full-width">
    <div class="h1c1 widget-container"></div>
</div>
<div class="container-full-width">
    <div class="h2c1 widget-container"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="r1c1 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="r2c1 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r3c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r3c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r3c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r4c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r4c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r4c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r5c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r5c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r5c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r6c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r6c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r6c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r7c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r7c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r7c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r8c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r8c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r8c3 widget-container"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="r9c1 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r9c2 widget-container"></div>
        </div>
        <div class="col-md-4">
            <div class="r9c3 widget-container"></div>
        </div>
    </div>
</div>
<div class="container-full-width">
    <div class="f1c1 widget-container"></div>
</div>
<div class="container-full-width">
    <div class="f2c1 widget-container"></div>
</div>
{% endblock %}
