{% extends '../layout/layout.html' %}
{% set item = page.item %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/item/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/item/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <h4 class="col-md-12">
            Item Detail
        </h4>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-md-10">
            
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for value in file %}
                <tr>
                    <td>{{ loop.key }}</td>
                    <td>{{ value + '' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
