{% extends '../layout/layout-admin.html' %}
{% set files = page.docs %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/file/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="http://timeago.yarp.com/jquery.timeago.js"></script>
<script src="/script/file/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div style="margin-top:20px;margin-bottom:20px;">
        <a href="/files/upload" class="btn btn-success upload-btn">
            <span class="fa fa-2x fa-upload"> Upload File</span>
        </a>
    </div>
    <h2 style="margin-bottom:20px;">File List</h2>
    {% for file in files %}
    <div class="file panel panel-default">
        <div class="panel-heading">
            <h2 class="file-name">
                {{file.file.originalname}}
            </h2>
            <a href="/file/{{ file.file.name }}" target="_blank">
                <span class="fa fa-2x fa-download file-download pull-right"></span>
            </a>
            <p class="file-upload-date">
                <time class="timeago" datetime={{file.create_date.toISOString()}}>
                    {{file.create_date.toISOString()}}
                </time>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}