{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
{% endblock %}

{% block content %}
<div class="body-container container">
    <div class="row">
        <h4 class="col-md-12">
            File Module
        </h4>
        <div class="col-md-12">
            <ul>
                <li>
                    <a href="/upload">Upload Test</a>
                </li>
                <li>
                     <a href="/uploaded_list">List of uploaded</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
