.label-as-badge {
    border-radius: 1em;
}

.linksetdetail2-item {
    font-size: 1.2em;
    padding: 15px 15px 15px 0;
}

.linksetdetail2-item a {
    text-decoration: none;
}

.linksetdetail2-item a:hover {
    font-weight: bold;
}