
.table2-container {
    /* padding: 20px; */
    /* background-color: #f2f2f2;*/
    /* border: solid 1px #eee; */
}

.table2-container .table2-toolbar-container {
    margin-bottom: 10px;
}

.table2-container .table2-toolbar-container .search-box-container {
    padding-right: 0px;
}

.table2-row-active .table2-body-cell-container{
    background-color: #f2f2f2;
}

.table2-row-container:hover .table2-body-cell-container {
    background-color: #f2f2f2;
}

.table2-head-cell-container {
    float:left;
    width: 150px;
}

.table2-head-cell-content-container {
    margin-right: 1px;
    cursor: pointer;
}

.table2-body-cell-container {
    float:left;
    width: 150px;
}

.table2-head-cell-sort-icon {
    float:right;
    padding: 3px 0px;
    /* cursor: pointer; */
}

.table2-body-cell-content-container {
    overflow-x: hidden;
}

.table2-body-cell-text-container {
    white-space: nowrap;
}

/* bordered table */
.table2-container.table2-container-bordered .table2-head-cell-container {
    padding: 2px 5px;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    background-color: transparent;
    text-align: left;
}

.table2-container.table2-container-bordered .table2-head-cell-container:first-child {
    border-left: solid 1px #f2f2f2;
}

.table2-container.table2-container-bordered .table2-body-cell-container {
    padding: 2px 5px;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    text-align: left;
}

.table2-container.table2-container-bordered .table2-row-container .table2-body-cell-container:first-child {
    border-left: solid 1px #f2f2f2;
}

/* paging bar */
.pagingbar-content-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagingbar-content-container .btn-paging {
    padding: 5px;
}

.pagingbar-content-container .pagingbar-label-container {
    padding: 5px;
}