{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/product/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script>
var app = app || {};
app.product = {{ page.product|json|raw }};
</script>
<script src="/script/product/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="col-md-12">
            Product Detail
        </h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            product: {{ page.product.name }}
        </div>
    </div>
</div>
{% endblock %}
