.label-as-badge {
    border-radius: 1em;
}

.carousel-container {
    padding: 20px;
    background-color: #f2f2f2;
}

.home-columns {
    width: 970px;
    padding: 40px 0px;
    margin: 0px auto;
    overflow: hidden;
}
.home-column-link {
    display: block;
}
.column {
    width: 25%;
    float: left;
    margin-right: 2%;
    font-size: 14px;
}
.column-title {
    padding: 6px 0px;
    font-family: "VegurBold",sans-serif;
    font-size: 18px;
    color: #FFF;
    background: none repeat scroll 0% 0% #CB6015;
    text-align: center;
}
.column-image {
    opacity: 0.6;
}

.clearfix {
    clear: both;
}
.home-news-main {
    width: 70%;
    float: left;
    padding: 20px 0px;
}

.news-image {
    display: block;
    float: left;
    clear: left;
    width: 160px;
    margin: 0px 15px 0px 0px;
}

.news-content {
    margin: 0px 0px 3em;
    padding: 0px 0px 20px 175px;
}

.news-summary {
    word-break: normal;
    word-wrap: normal;
}







