{% extends '../layout/layout.html' %}
{% set users = page.docs %}

{% block style %}
{% parent %}
{% endblock %}

{% block content %}
<head>
</head>
    
<div class="container">
    <div class="row">
        <h4 class="col-md-12">User Page</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="userbuttons">
                <li><a href="/users/signup">User Signup</a></li>
                <li><a href="/users/login">User Login</a></li>
                <li><a href="/users/logout">User Logout</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
