{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<!-- <script src="/script/user/login.js"></script> -->
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 77zt1rgxz1h1hq
    authorize: true
    onLoad: onLinkedInLoad
</script>

<script type="text/javascript">
    
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~").result(onSuccess).error(onError);
    }

</script>
{% endblock %}

{% block style %}
{% parent %}
<!-- <link rel="stylesheet" href="/style/user/login.css"> -->
<style>
.container {
    color: #666;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:20px auto;font-size:2.1em;">
            <div style="text-align:center;">User Login</div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <script type="in/Login"></script>
            <!--
            <form role="form" action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" style="width:100%;">LOGIN</button>
                <input type="hidden" name="redirect" value="{{ page.redirect }}" />
                <div style="margin-top:40px;text-align:center;">
                    <p>Need account? <a href="/users/signup">Signup here</a></p>
                    <p>Forgot your password? <a href="/users/password/reset">Click here</a>.</p>
                </div>
            </form>
            -->
        </div>
    </div>
    
</div>
{% endblock %}
