{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form role="form" action="/users/password/change_post" method="POST" class="custom input">
            <div class="form-group">
                <label for="password">Enter your new password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="hidden" name="key" value="{{ page.key }}" />
            <input type="submit" class="btn btn-primary" value="Change Password" />
        </form>
    </div>
</div>

</div>
{% endblock %}