{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script src="/script/user/profile.js"></script>
{% endblock %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/user/profile.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>User Profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>TBD</div>
        </div>
    </div>
</div>
{% endblock %}
