{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/component/common/common-style.css"/>
<link rel="stylesheet" href="/component/linkset/detail.css"/>
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/react/react.js"></script>
<script src="/library/react/JSXTransformer.js"></script>
<script type="text/jsx" src="/component/common/common-mixin.js"></script>
<script type="text/jsx" src="/component/linkset/detail.js"></script>
<script type="text/jsx" src="/script/linkset/detail_react.js"></script>
<script>
var app = app || {};
app.linksetId = '{{ page.linksetId }}';
</script>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <h4 class="col-md-6">
            Linkset Detail (React)
        </h4>
        <select id="my_select" onchange="changeDirection(this.value)">
            <option value="vertical" selected="selected">Vertical</option>
            <option value="horizontal">Horizontal</option>
        </select>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <div id="linksetDetail"></div>
            <div id="linksetDetail2"></div>
        </div>
    </div>
    
</div>
{% endblock %}
