{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div>
                    <a href="/linksets/add_links">Add Linkset</a>
                </div>
                <div>
                    <a href="/linksets/show_all">Show All Linkset</a>
                </div>
                <div>
                    <a href="/linksets/list/react">Linkset List (React)</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
