{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div>
                    <a href="/events/add_event">Add Event</a>
                </div>
                <div>
                    <a href="/events/list">List</a>
                </div>
                <div>
                    <a href="/events/calendar_react">Event Calendar (React)</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
