.navbar {
    border: 0;
}

.container-full-width .navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.body-container {
    min-height: 540px;
}

.header-container {
    padding-left: 0;
    padding-right: 0;
}

.login-button {
    margin-top: 8px;
}

.user-dropdown {
    margin-top: 5px;
    margin-left: 10px;
}

.dropdown-menu {
    padding-top: 4px;
}

.footer-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.footer {
    margin-top: 20px;
}
