.simplifyheader-container .header-container {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}
.simplifyheader-container .navbar-brand {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.simplifyheader-container .navbar-brand .navbar-brand-logo {
    height: 30px;
}
