{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/basket/receipt.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/script/basket/receipt.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="col-md-12">
            Receipt
        </h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Charge Result</h4>
            <div>id: {{ page.charge.payment_result.id }}</div>
            <div>amount: {{ page.charge.payment_result.amount }}</div>
        </div>
    </div>
</div>
{% endblock %}
