{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/announcement/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
<script src="http://timeago.yarp.com/jquery.timeago.js"></script>
<script src="/script/announcement/index.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <a href="/announcements/add" class="btn btn-success new-btn"><span class="fa fa-2x fa-upload"> New Announcement</span></a>
  {% for announcement in page.announcements %}
    <div class="post panel panel-default">
      <div class="panel-heading">
        <h2 class="post-title">
          {{announcement.title}}
        </h2>
        <p class="post-date">
          <time class="timeago" datetime={{announcement.create_date.toISOString()}}>
            {{announcement.create_date.toISOString()}}
          </time>
        </p>
      </div>
      <div class="post-content">
        {{ page.shorten(announcement.content) }}
        {% if page.shorten(announcement.content) != announcement.content %}
        <a href="/announcements/{{announcement._id.toString()}}" class="read-more-btn">Read more</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
