{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<!-- <link rel="stylesheet" href="/style/item/index.css"> -->
{% endblock %}

{% block script %}
{% parent %}
<!-- <script src="/script/item/index.js"></script> -->
{% endblock %}

{% block content %}
<div class="container" style="min-height:420px;">
    <div class="row">
        <h4 class="col-md-12">
            Add Page
        </h4>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}
