{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<!-- <link rel="stylesheet" href="/style/item/index.css"> -->
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
<!-- <script src="/script/item/index.js"></script> -->
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Page List</div>
        </div>
    </div>
    
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Composition
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for eachPage in page.pages %}
                <tr>
                    <td>
                        <a href="/pages/{{ eachPage.name }}" title="see page">
                            {{ eachPage.name }}
                        </a>
                    </td>               
                    <td>
                        <a href="/data/compositions/{{ eachPage.composition }}" target="_blank">
                            {{ eachPage.composition }}
                        </a>
                    </td>
                    <td>
                        {{ eachPage.description }}
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-edit" href="/pages/{{eachPage._id.toString()}}/edit" title="edit"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}

