{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<!-- <link rel="stylesheet" href="/style/item/index.css"> -->
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
<!-- <script src="/script/item/index.js"></script> -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Page List</div>
        </div>
    </div>
    
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Composition
                    </td>
                    <td>
                        Content
                    </td>
                    <td>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for eachPage in page.pages %}
                    <tr>
                        <td>
                            <a href="/pages/{{eachPage._id.toString()}}/detail" title="see detail">{{eachPage.name}}</a>
                        </td>
                        <td>
                            {{ eachPage.description }}
                        </td>                  
                        <td>
                            {{ eachPage.composition }}
                        </td>
                        <td>
                            {{ eachPage.content|json_encode }}
                        </td>
                        <td>
                            <a class="glyphicon glyphicon-edit" href="/pages/{{eachPage._id.toString()}}/edit" title="edit"></a>
                            &nbsp;
                            <a class="glyphicon glyphicon-remove" href="/pages/{{eachPage._id.toString()}}/del" title="del"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}

