{% extends '../layout/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div>
                    <a href="/imagesets/add_imageset">Add Imageset</a>
                </div>
                <div>
                    <a href="/imagesets/show_all">Show All Imageset</a>
                </div>
                <div>
                    <a href="/imagesets/list/react">Imageset List (React)</a>
                </div>
                <div>
                    <a href="/imagesets/googlemap">Google map API test</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
