{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<link rel="stylesheet" href="/style/article/index.css">
{% endblock %}

{% block script %}
{% parent %}
<script src="/library/moment/moment.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">Imageset List</div>
        </div>
    </div>
    
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Content
                    </td>
                    <td>
                        Create Date
                    </td>
                    <td>
                    </td> 
                </tr>
            </thead>
            <tbody>
                {% for imageset in page.linksets %}
                    <tr>
                        <td>
                            {{ imageset.name }}
                        </td> 
                        <td>
                            {{ imageset.content|json_encode }}
                        </td>                  
                        <td>
                            {{ imageset.create_date.toISOString() }}
                        </td>
                        <td>
                            <a class="glyphicon glyphicon-remove" href="/imagesets/{{imageset._id.toString()}}/del" title="del"></a>
                        </td>
                    </tr>
  
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
