{% extends '../layout/layout.html' %}

{% block script %}
{% parent %}
<script>
</script>
{% endblock %}

{% block style %}
{% parent %}
<style>
.container {
    color: #666;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-12" style="margin:40px auto;font-size:2.1em;color:#666;">
            <div style="text-align:center;">List of uploaded files</div>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-striped">
            {% for file in page.files %}
                {% set link = './file/' + file %}
                <tr>
                    <td>
                        <a href="{{link}}">{{file}}</a>
                    </td>
                </tr>
            {% endfor%}    
        </table>
    </div>

</div>
{% endblock %}